* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
}
body {
	background-color: rgb(128, 128, 128);
}
body::-webkit-scrollbar {
	display: none;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(245, 236, 167);
	height: 100px;
	color: rgb(0, 0, 0);
}
nav {
	display: flex;
	align-items: center;
	justify-content: end;
	background-color: lightgray;
	height: 70px;
}
nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin: 0;
	padding: 0;
}
nav > ul > li {
	margin-right: 0.5rem;
	border: 1px solid black;
	cursor: pointer;
	padding: 3px;
	width: max-content;
	list-style: none;
	color: black;
	font-weight: bold;
}
section {
	width: 100%;
	max-width: 950px;
}
aside {
	display: flex;
	float: right;
	flex-direction: column;
	margin-top: -50rem;
	margin-right: 4rem;
	width: 300px;
	gap: 1rem;
}
article {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	background-color: rgb(245, 236, 167);

	padding: 1rem;
	text-align: center;
	gap: 1rem;
}
article > p {
	text-align: center;
}	
article > footer {
	position: relative;
	left: 22rem;
	margin-top: 1rem;
}
article > img {
	width: 100%;
	max-width: 300px;
	height: auto;
}
aside > blockquote {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(245, 236, 167);
	margin-left: 2rem;
	padding: 1rem;
	width: 100%;
	max-width: 300px;
	height: auto;
	min-height: 150px;
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(22, 22, 23);
	height: 3rem;
	color: rgb(255, 255, 255);
}
time {
	color: rgba(131, 111, 111, 0.75);
}